<div class="container">
  <div class="products-data-header">
    <button
      mat-raised-button
      color="primary"
      (click)="comeBack()">
      <mat-icon>keyboard_backspace</mat-icon>
      назад
    </button>
    <p>Продукти</p>

    <button
      *ngIf="!showCreateProduct"
      pButton
      pRipple
      type="button"
      icon="pi pi-plus"
      class="p-button-rounded p-button-success p-button-outlined"
      pTooltip="створити продукт" tooltipPosition="right"
      (click)="addProduct()"
    ></button>
  </div>
  <div class="products-body">


    <div class="create-product-block" *ngIf="showCreateProduct">
      <p>Форма створення нового продукту</p>
      <button
        pButton
        pRipple
        type="button"
        label="Скасувати"
        class="p-button-outlined p-button-info"
        (click)="canselAddProduct()"
      ></button>
    </div>

    <div class="products-table" *ngIf="!loader">
      <p-table
        [value]="products"
        styleClass="p-datatable-lg"
        [tableStyle]="{'min-width': '400px'}"
        [scrollable]="true"
        scrollHeight="80vh"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Назва</th>
            <th>Картинка</th>
            <th>Мінімальна ціна</th>
            <th style="width: 4rem"></th>
            <th style="width: 4rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td [style]="{'width' : '100px'}"
            >{{product.id}}</td>
            <td>{{product.title}}</td>
            <td><img class="table-product-img" src="{{product.imageMain}}" alt="pizza-image"></td>
            <td>{{product.minPrice | currency: 'USD'}}</td>
            <td>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-user-edit"
                class="p-button-rounded p-button-success p-button-outlined"
                pTooltip="редагувати" tooltipPosition="top"
                [routerLink]="['/admin/product/'+product.id]"
              ></button>
            </td>
            <td>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-times"
                class="p-button-rounded p-button-danger p-button-outlined"
                pTooltip="видалити" tooltipPosition="top"
                (click)="removeProduct(product.id)"
              ></button>

            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="products-spinner" *ngIf="loader">
      <p-progressSpinner  ></p-progressSpinner>
    </div>

  </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-toast></p-toast>
