<button
    *ngIf="!successfulAuthorization"
    mat-raised-button
    color="primary"
    (click)="openAuthorizationDialog()"
     >Увійти
</button>
<button
    *ngIf="successfulAuthorization"
    mat-raised-button
    color="primary"

>Вийти
</button>
<span *ngIf="successfulAuthorization">ім'я користувача : {{this.checkAuthentication.resultAuthentication.name}}</span>
<button
  routerLink="/admin" routerLinkActive="active"
  *ngIf="showGoToAdmin"
  mat-raised-button
  color="primary"
      >Go To Admin
</button>

