<button
    *ngIf="!successfulAuthorization"
    label="Submit"
    mat-raised-button
    color="primary"
    (click)="openAuthorizationDialog()"
     >
  <mat-icon>login</mat-icon>
  Вхід
</button>
<button
  routerLink="/" routerLinkActive="active"
    *ngIf="successfulAuthorization"
    mat-raised-button
    color="primary"
    (click)="logOut()"
><mat-icon>exit_to_app</mat-icon>
  Вихід
</button>

<span *ngIf="successfulAuthorization">ім'я користувача : {{this.checkAuthentication.resultAuthentication.name}}</span>


<button
  routerLink="/user/account"
  *ngIf="showGoToOrders"
  mat-raised-button
  color="primary"
><mat-icon>dashboard</mat-icon>
  Мої замовлення</button>

<button
  routerLink="/admin"
  routerLinkActive="active"
  *ngIf="showGoToAdmin"
  mat-raised-button
  color="primary"
><mat-icon>dashboard</mat-icon>
  Go To Admin
</button>

