<div class="container">
  <div class="shopping-orders-block">
    <p class="orders-block-title">Ваше замовлення : {{totalAmount | currency}}</p>
    <span *ngIf="(shoppingCart$ | async)?.length == 0">Зробіть замовлення!</span>
    <div class="orders-list">
      <app-shopping-cart-item
        class="orders-list-item"
        *ngFor="let shoppingItem of shoppingCart$ | async"
        [itemShop] = "shoppingItem"
        (delItem)="deleteItem($event)"
        (howManyItem)="changeQuantity($event)"
      >
      </app-shopping-cart-item>
    </div>

  </div>
</div>

