<div class="container">
  <div class="slider-data-header">
    <button
      mat-raised-button
      color="primary"
      (click)="comeBack()">
      <mat-icon>keyboard_backspace</mat-icon>
      назад
    </button>
    <p>Дані для слайдера</p>

    <button
      mat-stroked-button
      color="primary"
      [disabled]="showAddNewSlide"
    (click)="showAddNewSlide = true ; showSlideEditor = false">
    <mat-icon>add_photo_alternate</mat-icon>
      додати слайд
    </button>


  </div>


  <div class="slider-data-body">

    <div class="changeSliderItemsOrder-block">
      <p class = "editor-title">Перемістіть слайди для зміни їх порядку в слайдері</p>
      <button
        mat-stroked-button
        color="primary"
        matTooltip="Зберегти новий порядок слайдів"
        matTooltipPosition = "right"
        *ngIf="isChangedSliderDataOrder"
        (click)="saveToReorder()"
      >
        <mat-icon>check_circle_outline</mat-icon>
        Зберегти
      </button>
      <div
        cdkDropList
        (cdkDropListDropped)="dropSlide($event)"
        class="example-list">

        <app-admin-slider-item
          class="example-box"
          *ngFor="let slide of sliderData" cdkDrag
          [sliderItem] = slide
          (deleteIdem)="deleteSlide($event)"
          (editIdem)="editSlide($event)"
        >

        </app-admin-slider-item>

      </div>
    </div>

    <div class="changeSliderItemData-block">
      <div class="slide-data-editor" *ngIf="showSlideEditor">

        <p class="editor-title" *ngIf="showSlideEditor && editSlideData">Редагування інформації слайду</p>
        <app-admin-slider-editor
          *ngIf="showSlideEditor"
          [slideData] = "editSlideData"
          (cancelEdit)="cancelEdit()"
        ></app-admin-slider-editor>

      </div>
      <div class="slide-add-new" *ngIf="showAddNewSlide">
        <p class="editor-title">Додати новый слайд</p>
        <app-admin-slider-editor
          (cancelEdit)="cancelAddSlide()"
          (saveNewSlideData) = "addNewSlide($event)"
        ></app-admin-slider-editor>
      </div>
    </div>
  </div>
</div>
