<div class="container">
  <div class="slider-data-header">
    <button
      mat-raised-button
      color="primary"
      (click)="comeBack()">
      <mat-icon>keyboard_backspace</mat-icon>
      назад
    </button>
    <p>Дані для слайдера</p>


  </div>


  <div class="slider-data-body">

    <div class="changeSliderItemsOrder-block">
      <p class = "editor-title">Перемістіть слайди для зміни їх порядку в слайдері</p>
      <button
        mat-stroked-button
        color="primary"
        matTooltip="Зберегти новий порядок слайдів"
        matTooltipPosition = "right"
        *ngIf="isChangedSliderDataOrder"
        (click)="saveToReorder()"
      >
        <mat-icon>check_circle_outline</mat-icon>
        Зберегти
      </button>
      <div
        cdkDropList
        (cdkDropListDropped)="dropSlide($event)"
        class="example-list">

        <app-admin-slider-item
          class="example-box"
          *ngFor="let slide of sliderData" cdkDrag
          [sliderItem] = slide
          (deleteIdem)="deleteSlide($event)"
          (editIdem)="editSlide($event)"
        >

        </app-admin-slider-item>

      </div>
    </div>
    <div class="changeSliderItemData-block">
      <div class="slide-data-editor" *ngIf="showSlideEditor && editSlideData">
        <p class="editor-title">Редагування інформації слайду</p>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Slide Title</mat-label>
            <input matInput placeholder="slide title" value= "{{editSlideData.title}}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Slide Alt Image</mat-label>
            <input matInput placeholder="slide alt image" value= "{{editSlideData.alt}}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Image link</mat-label>
            <textarea matInput placeholder="image src">{{editSlideData.previewImageSrc}}</textarea>
          </mat-form-field>

            <img src="{{editSlideData.previewImageSrc}}" alt="{{editSlideData.alt}}">

        </form>
      </div>
    </div>
  </div>
</div>
