<div class="container">
  <div class="page-history-header">
    <button
      mat-raised-button
      color="primary"
      (click)="comeBack()">
      <mat-icon>keyboard_backspace</mat-icon>
      назад
    </button>
    <p>Історія виданих замовлень</p>
  </div>

  <p class="not-found-orders-text" *ngIf="!readyOrdersList">Ви ще не отримали жодного замовленя</p>

  <div class="orders-table" *ngIf="readyOrdersList">
    <p-table
      [value]="ordersIssued"
      styleClass="p-datatable-lg"
      (sortFunction)="customSort($event)"
      [customSort]="true"
      [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="width:20%">№ замовлення <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="creationTime" style="width:20%">Час створення <p-sortIcon field="creationTime"></p-sortIcon></th>
          <th style="width:20%">Продукти </th>
          <th pSortableColumn="orderStatus" style="width:20%">Статус <p-sortIcon field="orderStatus"></p-sortIcon></th>
          <th pSortableColumn="orderPrice" style="width:20%">Сума<p-sortIcon field="orderPrice"></p-sortIcon></th>

          <th style="width: 4rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td [style]="{'width' : '100px'}">{{product.id}}</td>
          <td>{{product.creationTime | date: 'MMM d, y, h:mm:ss a'}}</td>
          <td>
            <ul>
              <li *ngFor="let prod of product.orderList">
                {{prod.title + ", " + prod.quantity + " шт."}}
              </li>
            </ul>
          </td>
          <td>{{product.orderStatus}}</td>
          <td>{{product.orderPrice}}</td>
          <td>
            <p-button
              [routerLink]="['/user/order/'+product.id]"
              type="button"
              icon="pi pi-search"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
