.create-product-block{
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;

  .form-create-product{
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 30px;

    .form-create-left-section{
      flex: 1 1 40%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .product-img-block{
        display: flex;
        .product-img-link{
          flex: 1 1 60%
        }
        .product-img-demo{
          flex: 1 1 40%
        }
      }

      input, textarea{
        width: 100%;
      }
    }

    .form-create-right-section{
      flex: 1 1 60%;

      .product-ingredients{
        display: flex;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid gray;

        .add-product-ingredients-block{
          flex: 1 1 30%;
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .product-ingredients-list{
          flex: 1 1 70%;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px;

          .ingredient-form{
            .add-ingredient{
              display: flex;
              align-items: center;
              gap: 10px;
            }

            .ingredient{
              display: flex;
              align-items: center;
              gap: 2px;

              span{
                background-color: rgba(0,0,0, 0.1);
                padding: 6px;
                border-radius: 6px;
              }
            }
          }
        }
      }

      .product-params{
        display: flex;
        gap: 10px;
        padding: 20px 0;
        border-bottom: 1px solid gray;

        .add-product-params-block{
          flex: 1 1 30%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-top: 20px;

          .params-block-title{
            display: flex;
            align-items: center;
            gap: 10px;
          }



          .add-param-item{
            display: flex;
            flex-direction: column;
            gap: 30px;
            border: 1px solid gray;
            padding: 20px;
            border-radius: 10px;

            input {
              width: 100%;
            }

            .add-param-control-btn{
              display: flex;
              align-items: center;
              justify-content: space-around;
            }

          }

        }
        .product-params-list{
          flex: 1 1 70%;
          display: flex;
          flex-direction: column;
          gap: 20px;



          .params-list-item{
            width: 100%;

            .param-form{
              display: flex;
              flex-direction: column;
              gap: 10px;
              border: 1px solid gray;
              padding: 10px;
              border-radius: 10px;

              .param-form-item{
                display: flex;
                align-items: center;
                justify-content: space-around;

                label{
                  flex: 1 1 30%
                }

                input{
                  flex: 1 1 70%
                }
              }
            }

            .param-header{
              display: flex;
              align-items: center;
              gap: 2px;
            }
            .param-block{
              display: flex;
              flex-direction: column;
              gap: 20px;
              .show-param-property{
                display: flex;
                width: 100%;

                .prop-param{
                  flex: 1 1 80%;
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  font-size: 12px;
                  border: 1px solid gray;
                  border-radius: 10px;
                  padding: 4px;

                  .param-key{
                    display: flex;
                    flex-direction: column;
                    font-size: 12px;

                    span{
                      font-size: 20px;
                      background-color: rgba(0,0,0, 0.1);
                      padding: 2px;
                      border-radius: 10px;
                    }

                  }
                }

                button{
                  flex: 1 1 20%;
                }
              }

              .add-param-property{
                display: flex;
                flex-direction: column;
                gap: 10px;
              }
            }
          }
        }
      }
    }
  }

  .form-control-btn{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}
