
<div class="card">
  <p-table [value]="ordersPending" styleClass="p-datatable-lg" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Номер замовлення</th>
        <th>Час створення</th>
        <th>Продукти</th>
        <th>Статус</th>
        <th>Сума</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td [style]="{'width' : '100px'}">{{product.id}}</td>
        <td>{{product.creationTime | date}}</td>
        <td>
          <ul>
            <li *ngFor="let prod of product.orderList">
              {{prod.title + ", " + prod.quantity + " шт."}}
            </li>
          </ul>
        </td>
        <td>{{product.orderStatus}}</td>
        <td>{{product.orderPrice}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>



