<div class="container">
  <header>
    <div class="header_logo"></div>
    <nav class="nav-menu">

        <div class="menu-item">
          <a routerLink="/pizzas" routerLinkActive="active">Піца</a>
        </div>
        <div class="menu-item">
          <div class="item-orders">
            <a routerLink="/shopping" routerLinkActive="active">Кошик</a>
            <mat-icon *ngIf="(shoppingCart$ | async)?.length !== 0" matBadge="{{(shoppingCart$ | async)?.length}}" matBadgeColor="warn">shopping_cart</mat-icon>
            <mat-icon *ngIf="(shoppingCart$ | async)?.length == 0">remove_shopping_cart</mat-icon>
          </div>

        </div>
        <div class="menu-item">
          <app-authorization></app-authorization>
        </div>
    </nav>

    <p-toast position="top-right"></p-toast>
  </header>
</div>

