<div class="container">
  <header>
    <div class="header_logo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbxJFWDnWv6smNalcA2UqoCI_HDf5NKeapCA&usqp=CAU" alt="logo">
    </div>
    <nav class="nav-menu">
      <div class="menu-item">
          <a routerLink="/pizza" routerLinkActive="active">Піца</a>
        </div>
      <div class="menu-item">
          <div class="item-orders">
            <a routerLink="/shopping" routerLinkActive="active">Кошик</a>
            <mat-icon *ngIf="(shoppingCart$ | async)?.length !== 0" matBadge="{{(shoppingCart$ | async)?.length}}" matBadgeColor="warn">shopping_cart</mat-icon>
            <mat-icon *ngIf="(shoppingCart$ | async)?.length == 0">remove_shopping_cart</mat-icon>
          </div>

        </div>
      <div class="menu-item">
          <app-authorization></app-authorization>
        </div>
    </nav>

    <p-toast position="bottom-center"></p-toast>
  </header>
</div>

