<div class="container">
  <div class="users-data-header">
    <button
      mat-raised-button
      color="primary"
      (click)="comeBack()">
      <mat-icon>keyboard_backspace</mat-icon>
      назад
    </button>
    <p>Користувачі</p>
  </div>

  <div class="user-data-table">
    <p-table [value]="allUsers" styleClass="p-datatable-lg" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Ім'я</th>
          <th>Логін</th>
          <th>Пароль</th>
          <th style="width: 4rem"></th>
          <th style="width: 4rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr [ngClass]="user.id == 1 ? 'admin-data-item' : 'user-data-item'">
          <td
            [style]="{'width' : '100px'}"

          >{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.login}}</td>
          <td>{{user.password}}</td>
          <td>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-user-edit"
              class="p-button-rounded p-button-success p-button-outlined"
              pTooltip="редагувати" tooltipPosition="top"
              [routerLink]="['/admin/user/'+user.id]"
            ></button>
          </td>
          <td *ngIf="user.id !== 1">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-outlined"
              pTooltip="видалити" tooltipPosition="top"
              (click)="deleteUser(user)"
            ></button>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>



<button (click)="addClient()">add Client</button>


<p-toast></p-toast>

