<div class="container">
  <div class="page-history-header">
    <button
      mat-raised-button
      color="primary"
      (click)="comeBack()">
      <mat-icon>keyboard_backspace</mat-icon>
      назад
    </button>
    <p>Історія моїх замовлень</p>
  </div>

  <div class="orders-table" *ngIf="readyOrdersList">
    <p-table [value]="ordersAll" styleClass="p-datatable-lg" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="code" style="width:20%">№ замовлення <p-sortIcon (click)="test()" field="code"></p-sortIcon></th>
          <th pSortableColumn="name" style="width:20%">Час створення <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="category" style="width:20%">Продукти <p-sortIcon field="category"></p-sortIcon></th>
          <th pSortableColumn="quantity" style="width:20%">Статус <p-sortIcon field="quantity"></p-sortIcon></th>
          <th pSortableColumn="price" style="width:20%">Сума <p-sortIcon field="price"></p-sortIcon></th>
<!--          <th>№ замовлення</th>-->
<!--          <th>Час створення</th>-->
<!--          <th>Продукти</th>-->
<!--          <th>Статус</th>-->
<!--          <th>Сума</th>-->
          <th style="width: 4rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td [style]="{'width' : '100px'}">{{product.id}}</td>
          <td>{{product.creationTime | date: 'MMM d, y, h:mm:ss a'}}</td>
          <td>
            <ul>
              <li *ngFor="let prod of product.orderList">
                {{prod.title + ", " + prod.quantity + " шт."}}
              </li>
            </ul>
          </td>
          <td>{{product.orderStatus}}</td>
          <td>{{product.orderPrice}}</td>
          <td>
            <p-button
              [routerLink]="['/user/order/'+product.id]"
              type="button"
              icon="pi pi-search"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
