<div class="pizza-card">
  <div class="pizza-main-img">
    <img src="{{pizzaItem.imageMain}}" alt="{{pizzaItem.title}}">
    <span class="pizza-card-minWeight">{{ pizzaSize ? (selectedPizzaWeight ? selectedPizzaWeight : pizzaItem.minWeight) + ' г' : pizzaItem.minWeight + ' г'}}</span>
  </div>
  <div class="pizza-card-title-block">
    <span [innerHTML] = "pizzaItem.title | highlight : searchText" class="pizza-card-title"></span>
    <button
      class="pizza-card-details-btn"
      mat-stroked-button
      color="primary"
      [routerLink]="[pizzaItem.id]"
    >Деталі</button>
  </div>


  <ul class="pizza-card-ingredients">
    <li class="pizza-ingredient" *ngFor="let ingredient of pizzaItem.ingredients">{{ingredient}}</li>
  </ul>

  <div class="pizza-card-params" [formGroup]="pizzaParamsSelectForm" *ngIf="pizzaSize">
    <div *ngFor="let size of pizzaSize " class="field-checkbox">
      <label >
        <p-radioButton [inputId]="size.key"
                       name="pizzaSelectSize"
                       [value]="size"
                       formControlName="pizzaSelectSize"
                       (onClick) = onSelectPizzaSize(size)
        ></p-radioButton>
        {{size.name}}
      </label>

    </div>
  </div>

  <div class="pizza-card-footer">
    <div class="pizza-card-price">{{pizzaSize ? ((selectedPizzaPrice) ? (selectedPizzaPrice | currency) : (pizzaItem.minPrice | currency) ): (pizzaItem.minPrice | currency)}}</div>
    <button mat-raised-button
            color="primary"
            (click)="toShoppingCart(pizzaItem)"
    >В кошик</button>
  </div>

</div>
