<button
    *ngIf="!successfulAuthorization"
    label="Submit"
    mat-raised-button
    color="primary"
    (click)="openAuthorizationDialog()"
     >
  <mat-icon>login</mat-icon>
  Вхід
</button>
<button
  routerLink="/" routerLinkActive="active"
    *ngIf="successfulAuthorization"
    mat-raised-button
    color="primary"
    (click)="logOut()"
><mat-icon>exit_to_app</mat-icon>
  Вихід
</button>

<button
  routerLink="/user"
  *ngIf="showGoToOrders"
  mat-raised-button
  color="primary"
><mat-icon>how_to_reg</mat-icon>
  Мої замовлення</button>

<button
  routerLink="/admin"
  routerLinkActive="active"
  *ngIf="showGoToAdmin"
  mat-raised-button
  color="primary"
><mat-icon>dashboard</mat-icon>
  Go to Admin
</button>

<p class="user-name" *ngIf="successfulAuthorization">користувач: <span class="user-name-text">{{this.checkAuthentication.resultAuthentication.name}}</span></p>
