
<div class="no-authorization-block" *ngIf="!resultUserAuthentication.isPassedAuthentication">
  <p>Для того, щоб залишити відгук, необхідно увійти до системи !</p>
</div>

<div *ngIf="resultUserAuthentication.isPassedAuthentication">

  <form class="add-comment-form" [formGroup]="addCommentForm">

    <div class="rating-form">
      <span>Ваша оцінка: </span>
      <p-rating [cancel]="false" formControlName="rating"></p-rating>
    </div>

    <span class="p-float-label p-input-icon-left">
        <i class="pi pi-comment"></i>
        <textarea id="textComment"
                  rows="3"
                  style="resize: none;
                  width: 100%" cols="30"
                  pInputTextarea
                  formControlName="text"
        ></textarea>
        <label for="textComment">Коментар</label>
    </span>

    <div
      class="error-valid-message"
      *ngIf="addCommentForm.controls['text'].invalid && addCommentForm.controls['text'].touched"
    >
       Необхідно вказати коментар.
    </div>

    <span class="p-float-label p-input-icon-left">
        <i class="pi pi-thumbs-up"></i>
        <input type="text"
               id="inputPlus"
               pInputText
               style="width: 100%"
               formControlName="productAdvantages"
        >
        <label for="inputPlus">Переваги</label>
    </span>

    <div
      class="error-valid-message"
      *ngIf="addCommentForm.controls['productAdvantages'].invalid && addCommentForm.controls['productAdvantages'].touched"
    >
      Необхідно вказати переваги.
    </div>

    <span class="p-float-label p-input-icon-left">
        <i class="pi pi-thumbs-down"></i>
        <input type="text"
               id="inputMinus"
               pInputText
               style="width: 100%"
               formControlName="productFlaws"
        >
        <label for="inputPlus">Недоліки</label>
    </span>

    <div
      class="error-valid-message"
      *ngIf="addCommentForm.controls['productFlaws'].invalid && addCommentForm.controls['productFlaws'].touched"
    >
      Необхідно вказати недоліки.
    </div>

    <button pButton
            pRipple
            type="submit"
            label="Додати відгук"
            class="p-button-outlined"
            [disabled] = "addCommentForm.invalid"
            (click)="addComment()"
    ></button>
  </form>
</div>


