:host {
  flex: 1 1 auto;
  width: 100%;
}
.pizza-card-spinner{
  top: 30vh;
  left: 40vw;
}


.pizzas-list{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px 0;

}

.showProductsNotFound{
  width: 80%;
  height: 80vh;
  background: url("https://jetmartindia.com/images/no-product-found.png") center no-repeat;
  background-size: cover;

}
