<div class="container ">
  <app-pizzas-banner></app-pizzas-banner>

  <mat-spinner class="pizza-card-spinner" *ngIf="loader"></mat-spinner>

  <div class="showProductsNotFound" *ngIf="showProductsNotFound"></div>

  <div *ngIf="showErrorMassage">
    <p>Зараз піци відсутні !</p>
  </div>

  <div class="product-processing p-fluid">

    <div class="products-filter-block">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              type="text"
              id="inputtext-left"
              pInputText
              [(ngModel)]="searchText"
              [style]="{'width':'280px'}"
            >
            <label for="inputtext-left">Пошук піци</label>
        </span>

      <ng-template #noResults>
        <div class="filter-not-found">
          <p>При пошуку "{{searchText}}" нічого не знайдено !</p>
        </div>
      </ng-template>
    </div>

    <div class="products-sort-block">
        <span class="p-float-label">
            <p-dropdown
              inputId="dropdown"
              id="pizzaSorting"
              [autoDisplayFirst]="false"
              [options]="sortingMethod"
              [(ngModel)]="valueSortingMethod"
              [style]="{'width':'280px'}"
              optionLabel="name"
              (onChange)="toSortPizzas()"
            ></p-dropdown>

            <label for="pizzaSorting">Сортування піци</label>
        </span>

    </div>

  </div>

  <div class="pizzas-list" *ngIf="(pizzas | productsFilter: searchText).length > 0; else noResults">
    <app-pizza-card
      *ngFor="let pizza of pizzas | productsFilter: searchText"
      [pizzaItem] = pizza
    ></app-pizza-card>
  </div>

  <mat-paginator [length]="21"

                 (page)="changePaginator($event)"
                 [pageSizeOptions]="[6,12,18,24]"  >


  </mat-paginator>

  <p-scrollTop [threshold]="900"></p-scrollTop>
</div>

