:host{
  flex: 1 1 auto;
  width: 100%;
  min-height: 400px;
  padding-top: 80px;

  .user-data-header{
    display: flex;
    align-items: center;
    gap: 100px;
  }
  .user-data-body{
    display: flex;
    gap: 20px;
    width: 100%;
    margin: 20px 0;


    .user-registration-data{
      flex: 1 1 30%;

      .user-registration-data-header{
        display: flex;
        gap: 10px;
        margin: 6px;
      }

      .user-data{
        display: flex;
        flex-direction: column;
        gap: 10px;


        span{
          font-size: 20px;
          background-color: rgba(0, 0, 0, .1);
          padding: 4px;
          border-radius: 10px;
        }
      }

      .form-user-data{
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin: 20px auto;
        padding: 20px;
        width: 400px;
        border: 1px solid darkgrey;

        input{
          width: 100%;
        }
        .password-block{
          display: flex;
          justify-content: space-between;

          .p-float-label{
            flex: 1 1 90%
          }

          button {
            flex: 1 1 10%
          }
        }

        .personal-data-editor-button{
          display: flex;
          gap: 20px;

        }
      }
    }

    .user-orders{
      flex: 1 1 70%;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border: 1px solid darkgrey;

      .orders-table{
        width: 100%;


        th,td{
          text-align: center;
        }
      }

      .to-top-btn{
        position: absolute;
        bottom: 0;
        right: 30px;
        opacity: 0.6;
      }
    }


  }


}
