<img src="{{itemShop.imageMain}}" alt="order">
<div class="item-params">
  <p class="item-title">{{itemShop.title}} <span>{{itemShop.size}}</span> <span>{{itemShop.weight + ' г'}}</span></p>

  <ul class="item-ingredients-list">
    <li class="item-ingredient"  *ngFor="let ingredient of itemShop.ingredients">
      {{ingredient}}
    </li>
  </ul>

  <p class="item-price">{{itemShop.price | currencyUa}} <span *ngIf="quantityInOrder"> x  {{quantityInOrder}}</span></p>

</div>
<div class="item-amount" [formGroup]="cartItemForm" >
  <p-inputNumber
    [style] = "{width: '30px', height: '50px'}"
    formControlName = "itemQuantity"
    (onInput)="changeQuantity($event.value, itemShop.price, itemShop.orderId, $event)"
    [showButtons]="true"
    buttonLayout="vertical"
    inputId="vertical"
    [min]= 1
    decrementButtonClass="p-button-secondary"
    incrementButtonClass="p-button-secondary"
    incrementButtonIcon="pi pi-plus"
    decrementButtonIcon="pi pi-minus">
  </p-inputNumber>
</div>

<i class="delete-item" (click)="deleteItem(itemShop.id, itemShop.price)">
  <mat-icon>highlight_off</mat-icon>
</i>
