<img src="{{itemShop.image}}" alt="order">
<div class="item-params">
  <p class="item-title">{{itemShop.title}} <span>{{itemShop.size}}</span></p>

  <ul class="item-ingredients-list">
    <li class="item-ingredient"  *ngFor="let ingredient of itemShop.ingredients">
      {{ingredient}}
    </li>
  </ul>

  <p class="item-price">{{itemShop.price | currencyUa}} <span *ngIf="multiplyAmount"> x  {{multiplyAmount}}</span></p>

</div>
<div class="item-amount" >
  <p-inputNumber
    [style] = "{width: '30px', height: '50px'}"
    [(ngModel)]="quantityInOrder"
    (click)="changeQuantity($event)"
    [showButtons]="true"
    buttonLayout="vertical"
    inputId="vertical"
    decrementButtonClass="p-button-secondary"
    incrementButtonClass="p-button-secondary"
    incrementButtonIcon="pi pi-plus"
    decrementButtonIcon="pi pi-minus">
  </p-inputNumber>
</div>

<i class="delete-item" (click)="deleteItem(itemShop)">
  <mat-icon>highlight_off</mat-icon>
</i>
