<h1 mat-dialog-title>Вхід</h1>

<button mat-button class="close-icon" [mat-dialog-close]="data">
  <mat-icon>close</mat-icon>
</button>

<div mat-dialog-content>
  <p>Для входу введіть ваш логін та пароль</p>

  <form [formGroup]="formGroupAuthorization"
        (ngSubmit)="onSubmit(formGroupAuthorization.value)"
        class="form"
        #formAuthorization
        id = 'formGroupAuthorization'
  >
  <mat-form-field appearance="fill">
    <mat-label>Логін</mat-label>
    <input matInput formControlName="login" pTooltip="від 3 до 10 символів" tooltipPosition="right" >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Пароль</mat-label>
    <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="password" pTooltip="6-10 символів, з них мін. одна цифра та велика літера " tooltipPosition="right">
    <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
      <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ні, дякую !</button>
  <button [disabled] = "formGroupAuthorization.invalid"
          mat-button
          [mat-dialog-close]="formGroupAuthorization.value"
          type="submit"
          form = "formGroupAuthorization"
  >Увійти</button>
</div>

