<h1 mat-dialog-title>Вхід</h1>
<div mat-dialog-content>
  <button mat-button class="close-icon" [mat-dialog-close]="data">
    <mat-icon>close</mat-icon>
  </button>
  <p>Для входу введіть ваш логін та пароль</p>

  <mat-form-field appearance="fill">
    <mat-label>Логін</mat-label>
    <input matInput [(ngModel)]="data.login">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Пароль</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="data.password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ні, дякую !</button>
  <button mat-button [mat-dialog-close]="data">Увійти</button>
</div>
