<div class="container">
  <div class="personal-data-page-header">
    <button
      mat-raised-button
      color="primary"
      (click)="comeBack()">
      <mat-icon>keyboard_backspace</mat-icon>
      назад
    </button>
    <p>Особисті дані користувача</p>
  </div>
  <div
    *ngIf="resultAuth"
    class="personal-data-page">
    <div class="personal-data-item">
      <p>Name : <span>{{resultAuth.resultAuthentication.name}}</span></p>
      <p>Login : <span>{{resultAuth.resultAuthentication.login}}</span></p>
      <p>Password :
        <span *ngIf="hidePassValue">
          {{resultAuth.resultAuthentication.password}}
        </span>
        <span  *ngIf="!hidePassValue">
          *************
        </span>
        <button mat-icon-button matSuffix (click)="hidePassValue = !hidePassValue" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassValue">
          <mat-icon>{{hidePassValue ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </p>

      <button
        *ngIf="!showEditor"
        mat-mini-fab
        color="accent"
        (click)="showEditor = !showEditor"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>


    <div
      *ngIf="showEditor"
      class="personal-data-editor"
    >
      <form
        id="formGroupEditorPersonalData"
        class="data-editor-form"
        [formGroup]="formGroupEditorPersonalData"

      >
        <div class="p-float-label">
            <input
              type="text"
              id="data-name"
              formControlName="name"
              pTooltip="від 3 до 12 символів"
              tooltipPosition="right"
              pInputText>
            <label for="data-name">Ім'я</label>

          <span
            class="error-valid-message"
            *ngIf="formGroupEditorPersonalData.controls['name'].invalid && formGroupEditorPersonalData.controls['name'].touched"
          >
            Помилка! Вкажіть ім'я від 3 до 12 символів.
          </span>
        </div>

        <div class="p-float-label">
            <input
             type="text"
              id="data-login"
              formControlName="login"
              pTooltip="від 3 до 10 символів"
              tooltipPosition="right"
              pInputText>
            <label for="data-login">Логін</label>

          <span
            class="error-valid-message"
            *ngIf="formGroupEditorPersonalData.controls['login'].invalid && formGroupEditorPersonalData.controls['login'].touched"
          >
            Помилка! Вкажіть логін від 3 до 10 символів.
          </span>
        </div>

        <div class="p-float-label">
          <p-password
            id="data-pass"
            formControlName="password"
            [inputStyle]="{'width':'100%'}"
            [style]="{'width':'100%'}"
          >
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="mt-2">Умова</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                <li>мінімум 6 символів</li>
                <li>максимум 10 символів</li>
                <li>мінімум 1 цифра</li>
                <li>мінімум 1 велика літера</li>
              </ul>
            </ng-template>
          </p-password>
          <label for="data-pass">Пароль</label>

          <span
            class="error-valid-message"
            *ngIf="formGroupEditorPersonalData.controls['password'].invalid && formGroupEditorPersonalData.controls['password'].touched"
          >
            Помилка! Пароль повинен складатися з 6 - 10 символів. З них хочаб одна велика літера та одна цифра.
          </span>
        </div>

        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Поторіть ваш пароль</mat-label>
          <input
            matInput [type]="hidePassConfirm ? 'password' : 'text'"
            formControlName="confirmPassword"
            width="100%"
            pTooltip="паролі повмнні співпадати"
            tooltipPosition="right">
          <button mat-icon-button matSuffix (click)="hidePassConfirm = !hidePassConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassConfirm">
            <mat-icon>{{hidePassConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <span
          class="error-valid-message"
          *ngIf="formGroupEditorPersonalData.controls['confirmPassword'].invalid && formGroupEditorPersonalData.controls['confirmPassword'].touched"
        >
            Помилка! Вказані паролі не співпадають!
          </span>

        <div class="personal-data-editor-button" *ngIf="!isEditedData">
          <button
            mat-stroked-button
            color="accent"
            (click)="showEditor = !showEditor"
          >Скасувати</button>
          <button
            mat-stroked-button
            color="accent"
            type="submit"
            form = "formGroupEditorPersonalData"
            [disabled] = "formGroupEditorPersonalData.invalid"
            (click)="onSubmitEditorForm(formGroupEditorPersonalData.value)"
          >Зберегти зміни</button>
        </div>

        <div *ngIf="isEditedData">
          <button
            routerLink="/"
            mat-stroked-button
            color="accent"
          >Повернутися на головну</button>

        </div>

      </form>


    </div>
  </div>
</div>
