<div class="container">
  <div class="order-page-header">
    <button
      mat-raised-button
      color="primary"
      (click)="comeBack()">
      <mat-icon>keyboard_backspace</mat-icon>
      назад
    </button>
    <p>Сторінка замовлення № {{orderId}}</p>
  </div>

  <p class="order-not-found" *ngIf="orderNotFound">Замовлення не знайдено</p>

  <div class="order-page-body" *ngIf="!orderNotFound">
    <div class="order-list-table">

      <p-table [value]="orderList" styleClass="p-datatable-lg" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th>ID продукта</th>
            <th>Назва</th>
            <th>Розмір</th>
            <th>Вага</th>
            <th>Кількість</th>
            <th>Сума</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{product.productId}}</td>
            <td>{{product.title}}</td>
            <td>{{product.size.name}}</td>
            <td>{{product.weight}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.sumPrice}}</td>


          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="order-info-section">
      <p>Номер замовлення : <span>{{order.id}}</span></p>
      <p>Час створення : <span>{{order.creationTime | date : 'MMM d, y, h:mm:ss a'}}</span></p>
      <p>Статус : <span>{{order.orderStatus}}</span></p>
      <p>Загальна сума : <span>{{orderTotalPrice}}</span></p>
    </div>
  </div>

</div>


