:host{
  flex: 1 1 auto;
  width: 100%;
  min-height: 400px;
  padding-top: 80px;

  .product-data-header{
    display: flex;
    align-items: center;
    gap: 100px;
  }

  .product-spinner{
    width: 100%;
    display: flex;
    padding: 100px 50%;
  }

  .not-found-product{
    padding: 100px;

    p{
      text-align: center;
    }
  }

  .product-data-body{
    width: 100%;
    margin: 20px 0;

    .form-product-data{
      display: flex;
      flex-direction: column;
      gap: 20px;

      .form-product-item{
        display: flex;
        width: 100%;
        justify-content: space-between;


        .product-item-label{
          flex: 0 0 20%;
        }

        .product-item-label , ingredients {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        .product-item-value{
          flex: 0 0 80%;
          min-width: 500px;


          .ingredient-form{

            .add-ingredient{
              display: flex;
              align-items: center;
              gap: 6px;
            }

            .ingredient{
              display: flex;
              align-items: center;
              gap: 6px;

              span {
                padding: 6px;
                background-color: rgba(0,0,0, 0.1);
                border-radius: 10px;
              }
            }
          }

          .product-image-section {
            img {
              max-height: 160px;
            }
          }
        }

        .product-item-value , ingredients {
          display: flex;
          align-items: center;
          gap: 30px;
          flex-wrap: wrap;
        }
      }
    }


  }

}
