<div class="container">
  <div class="product-data-header">
    <button
      mat-raised-button
      color="primary"
      (click)="comeBack()">
      <mat-icon>keyboard_backspace</mat-icon>
      назад
    </button>
    <p>Редагуання даних  продукту <span *ngIf="productId">ID {{productId}}</span></p>

  </div>
  <div class="product-spinner" *ngIf="isLoader">
    <p-progressSpinner  ></p-progressSpinner>
  </div>
  <div class="not-found-product" *ngIf="!isLoader && !isReadyProductData">
    <p> Продукт не знайдено</p>
  </div>
  <div class="product-data-body" *ngIf="isReadyProductData && productData">

    <app-admin-add-edit-product [productToEdit]="productData"></app-admin-add-edit-product>

  </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>



<p-toast></p-toast>

