:host{
  flex: 1 1 auto;
  width: 100%;
  min-height: 400px;
  padding-top: 80px;

  .product-data-header{
    display: flex;
    align-items: center;
    gap: 100px;
  }

  .product-spinner{
    width: 100%;
    display: flex;
    padding: 100px 50%;
  }

  .not-found-product{
    padding: 100px;

    p{
      text-align: center;
    }
  }

  .product-data-body{
    width: 100%;
    margin: 20px 0;

    .form-product-data{
      display: flex;
      flex-direction: column;
      gap: 30px;

      .form-product-item{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid gainsboro;


        .product-item-label{
          flex: 0 0 20%;
        }

        .product-item-label , ingredients {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        .product-item-value{
          flex: 0 0 80%;
          min-width: 500px;


          .ingredient-form{

            .add-ingredient{
              display: flex;
              align-items: center;
              gap: 6px;
            }

            .ingredient{
              display: flex;
              align-items: center;
              gap: 6px;

              span {
                padding: 6px;
                background-color: rgba(0,0,0, 0.1);
                border-radius: 10px;
              }
            }
          }

          .product-image-section {
            img {
              max-height: 160px;
            }
          }
        }

        .product-item-value.item-params {
          flex: 1 1 20%;
          display: flex;
          gap: 100px;

          .param-header{
            display: flex;
            align-items: center;
            gap: 10px;

            .header-title{
              font-size: 12px;
            }
            .header-title-value{
              font-size: 18px;
              font-weight: 500;
            }


          }
          .param-block{
            display: flex;
            flex-direction: column;
            gap: 20px;


          }

          .add-param-property{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
            border: 1px solid limegreen;
            border-radius: 10px;
            padding: 10px;
            margin-top: 10px;

            label {
              font-size: 12px;
              align-self: center;
            }
            input {
              width: 100%;
            }
          }
        }

        .product-item-value.ingredients {
          display: flex;
          align-items: center;
          gap: 30px;
          flex-wrap: wrap;
        }
      }
    }


  }

}
