<div class="pizza-card">
  <div class="pizza-main-img">
    <img src="{{pizzaItem.imageMain}}" alt="{{pizzaItem.title}}">
    <span class="pizza-card-minWeight">{{pizzaItem.minWeight + ' г'}}</span>
  </div>

  <p class="pizza-card-title">{{pizzaItem.title | titlecase}}</p>
  <ul class="pizza-card-ingredients">
    <li class="pizza-ingredient" *ngFor="let ingredient of pizzaItem.ingredients">{{ingredient}}</li>
  </ul>
  <div class="pizza-card-params">
    <p-dropdown [options]="pizzaSize" [(ngModel)]="selectedPizzaSize" placeholder="Обрати розмір" optionLabel="name" [showClear]="true"></p-dropdown>
  </div>
  <div class="pizza-card-footer">
    <div class="pizza-card-price">{{pizzaItem.minPrice | currencyUa}}</div>
    <button mat-raised-button color="primary" (click)="toShoppingCart(pizzaItem)">В кошик</button>
  </div>

</div>
