:host{
  width: 100%;
  height: 100%;

  .no-order{
    width: 100%;
    height: 100%;
    p{
      text-align: center;
    }

  }

}

.order-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .order-title{
    font-size: 22px;
    padding: 20px;
  }

  .order-block{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;

    .order-products-list{
      display: flex;
      flex-direction: column;
      gap: 10px;

      p-table th, td {
        text-align: center;
      }
    }

    .order-confirm{
      display: flex;
      justify-content: flex-end;
    }
  }
}

