<div class="container">
  <div class="user-page">
    <p>Сторінка користувача</p>

    <div class="user-page-header">

      <nav class="user-page-nav">
        <ul class="user-page-nav-list">
          <li>
            <button
              mat-raised-button
              color="primary"
              (click)="comeBack()">
              <mat-icon>keyboard_backspace</mat-icon>
              назад
            </button>
          </li>
          <li>
            <button
              label="Особисті дані"
              mat-stroked-button
              color="primary"
            >
              <mat-icon>person_outline</mat-icon>
              Особисті дані
            </button></li>
          <li>
            <button
              routerLink="/user/orders"
              routerLinkActive="active"
              label="Особисті дані"
              mat-stroked-button
              color="primary"
            >
              <mat-icon>shopping_basket</mat-icon>
              Мої замовлення
            </button>
          </li>
        </ul>
      </nav>

    </div>
    <div class="user-page-body">


      <!--      <p-tabView>-->

      <!--        <p-tabPanel-->
      <!--          header="Особисті дані"-->
      <!--          [selected]="true"-->
      <!--          leftIcon="pi pi-user-edit">-->
      <!--          Особисті дані-->
      <!--        </p-tabPanel>-->

      <!--        <p-tabPanel-->
      <!--          header="Мої замовлення"-->
      <!--          leftIcon="pi pi-shopping-cart">-->

      <!--          <app-orders-pending></app-orders-pending>-->

      <!--        </p-tabPanel>-->

      <!--        <p-tabPanel-->
      <!--          header="Істория замовлень"-->
      <!--          leftIcon="pi pi-save">-->
      <!--          Історія замовлень-->
      <!--          <ul>-->
      <!--            <li *ngFor="let order of userOrdersAll">-->
      <!--              {{order.orderStatus}}-->
      <!--            </li>-->
      <!--          </ul>-->
      <!--        </p-tabPanel>-->
      <!--      </p-tabView>-->

    </div>
  </div>
</div>





